<h1>ember-cli-photon</h1>

<p>Add photon css framework to yout ember-cli-electron apps!</p>

<pre>ember install ember-cli-photon</pre>

<h3>Components</h3>

<p>You can use the same markup as the
<a href="http://photonkit.com/" target="_black">photon css framework</a> plus some simple
components:</p>


<div class="row">
  <div class="left">
    <pre>&lt;span class="nav-group-item">
  &lt;span class="icon icon-cloud"&gt;&lt;/span&gt;
  Desktop
&lt;/span&gt;</pre>
  </div>

  <div class="right">
    <span class="nav-group-item">
      <span class="icon icon-cloud"></span>
      Desktop
    </span>
  </div>
</div>



<h4>Icons</h4>

<div class="row">
  <div class="left">
    <pre>\{{p-icon icon="note"}}
\{{p-icon icon="docs"}}
etc...</pre>
  </div>

  <div class="right padding">
    {{p-icon icon="note"}} {{p-icon icon="docs"}} <br/>etc...
  </div>
</div>

<h4>All icons name</h4>

<div>
  {{input value=filter placeholder="filter"}}
  <button {{action "clearFilter"}}>clear</button>
</div>

{{#each filteredIcons as |iconName|}}
  <p class="icon-container">{{p-icon icon=iconName}} <span class="gray">{{iconName}}</span></p>
{{else}}
  <p>There's no icons to show :(</p>
{{/each}}

<h4>Others</h4>

We are creating some new components, but in the meantime you use
all components of
<a href="http://photonkit.com/components/" target="_blank">photon</a>.
